<div class="row row-with-blocks-v2">
  {{#items}}
    <div class="item" data-item-id="{{id}}">
      {{#if images}}
        {{#with images.[0]}}
          <a href="/item/{{item_id}}" class="img-container">
            <img src="http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}" alt="">
          </a>
      {{/with}}
      {{else}}
        <a href="/item/{{item_id}}" class="img-container">
          <img src="http://res.cloudinary.com/di42acdz9/image/upload/sample.jpg" alt="">
        </a>
      {{/if}}
      <div class="item-content">
        <h4 class="item-title">{{name}}</h4>
        {{#if ../isCurrentUserProfile}}
        <form action="/item/{{id}}/destroy" method="post" class="left">
          <input type="hidden" name="itemId" value="{{id}}">
          <button type="submit" class="item-remove">Remove</button>
        </form>
        <a href="/item/{{id}}/edit">Edit</a>
        {{else}}
        <p class="item-tag-title">
          <b>Seeks:&nbsp;
            {{#swapForTags}}
              <a href="/tag/{{name}}">#{{name}} </a>
            {{/swapForTags}}
          </b>
        </p>
        {{/if}}

      </div>
    </div>
  {{/items}}
</div>
