{{#items}}
  <div class="item" data-item-id="{{id}}">
    {{#if images}}
      {{#with images.[0]}}
        <a href="/item/{{../id}}" class="img-container">
          <img src="http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}" alt="">
        </a>
        {{/with}}
    {{else}}
      <a href="/item/{{id}}" class="img-container">
        <span class="icon-picture"></span>
      </a>
    {{/if}}
    {{#if ../isCurrentUserProfile}}
      {{> userProfileItemActions}}
    {{/if}}
    <div class="item-content">
      <div class="item-content-head">
        <h4 class="item-title">{{name}}</h4>
        <p>{{description}}</p>
      </div>
      <p class="item-tag-title pt15">
        <b>Tags:&nbsp;
          {{#tags}}
            <a href="{{tagUrl ../../url}}tag={{name}}">#{{name}} </a>
          {{/tags}}
        </b>
      </p>
      <p class="item-tag-title">
        <b>Swap for:&nbsp;
          {{#swapForTags}}
            <a href="{{tagUrl ../../url}}tag={{name}}">#{{name}} </a>
          {{/swapForTags}}
        </b>
      </p>
    </div>
  </div>
{{/items}}
{{#if items}}
  {{#if_eq pageCount 1}}
  {{else}}
    {{> pagination}}
  {{/if_eq}}
{{/if}}
