<div class="itemOverview-details">
  {{> breadcrumbs}}
  <h3 class="title--itemOverview">{{item.name}}</h3>
  <ul class="no-bullet pt15 pb30">
    <li class="pt15 pb15 keyValue-item">
      <h5 class="inline-block key">Location:&nbsp;</h5>
      <p class="inline value">
        {{#if user.street}}
          {{user.street}},&nbsp;
        {{/if}}
        {{#if user.city}}
          {{user.city}},&nbsp;
        {{/if}}
        {{#if user.postcode}}
          {{user.postcode}},&nbsp;
        {{/if}}
        {{#if user.state}}
          {{user.state}},&nbsp;
        {{/if}}
        {{#if user.country}}
          {{user.country}}&nbsp;
        {{/if}}
      </p>
    </li>
    <li class="pb15 keyValue-item">
      <h5 class="inline-block key">Condition:&nbsp;</h5>
      <p class="inline value condition-stars condition-{{item.condition}}">
        <span class="icon-condition"></span>
        <span class="icon-condition"></span>
        <span class="icon-condition"></span>
        <span class="icon-condition"></span>
        <span class="icon-condition"></span>
      </p>
    </li>
    <li class="pb15 keyValue-item">
      <h5 class="inline-block key {{item.swapForTags.length}}">Swap for:&nbsp;</h5>
      <p class="inline value">
        {{#item.swapForTags}}
          <a href="/?tag={{name}}">#{{name}}&nbsp;</a>
        {{/item.swapForTags}}
      </p>

    </li>
    <li class="pb15 keyValue-item">
      <h5 class="inline-block key">Published:&nbsp;</h5>
      <p class="inline value">
        <span class="key">by&nbsp;</span><a href="/user/{{user.id}}" data-seller-id={{user.id}} class="js-sellerId">{{user.firstName}}</a>
        &nbsp;<span class="key">on&nbsp;</span>{{item.local_time}}
      </p>
    </li>
  </ul>
</div>
