<select id="subcategory" class="category-select" name="subcategory_id" {{#item.subcategory_id}}data-savedCategoryId="{{.}}"{{/item.subcategory_id}}>
  <option value="0" data-parentId="0">Subcategory</option>
  {{#each categories}}
    {{#if this.parent}}
      {{#if_eq this.name 'Other'}}
      {{else}}
        <option value="{{this.id}}" data-parentId="{{this.parent}}">{{this.name}}</option>
      {{/if_eq}}
    {{/if}}
  {{/each}}
  {{#each categories}}
    {{#if this.parent}}
      {{#if_eq this.name 'Other'}}
        <option value="{{this.id}}" data-parentId="{{this.parent}}">{{this.name}}</option>
      {{/if_eq}}
    {{/if}}
  {{/each}}
</select>
