.swapFields  
  input(type="text", placeholder="Email", name="email", value="#{locals.user.email}")
  input(type="text", placeholder="Phone", name="phone")
  textarea(name="message", placeholder="Leave a message for the owner")
  
each product in locals.data
  label(data-product-id="#{product.id}", for="#{product.id}").product.product--inSwapList
    .img-container
      !{product.image}
    .content-container
      h4.product-title= product.name
      p.product-tag-title
        b Tags:&nbsp;
          each tag in product.tags
            a(href="/tag/#{tag.name}") #{tag.name},&#32;
    input(id="#{product.id}", name="productId", value="#{product.id}", type="checkbox").selectItem      
