extends layout

block content
  -var buttonText = 'Swap it'
  .main-container.mb10
    .row.product-details.paperStyle-container
      .col.col-xs4.col-sm12.col-md7
        .image-container
          !{product.images[0].image}
          //- include ./includes/gallery.jade

      .col.col-xs4.col-sm12.col-md5
        .details-container
          include ./includes/breadcrumbs.jade
          h3.product-name= product.name
          p.product-date Published by&#32;
                a(href='/user/#{author.userId}') #{author.firstName}
                |&nbsp;on 12.12.2015
          ul.no-bullet.pt30.pb30
            li.pt15.pb15.specs-item
              h5.inline-block.property Location:&nbsp;
              p.inline.value
                a(href="")= author.city
            li.pb15.specs-item
              h5.inline-block.property Condition:&nbsp;
              p.inline.value.condition-stars
                -var empty = product.condition + 1
                -var star = 0

                while star < product.condition
                  -star++
                  span.icon-star

                while empty <= 5
                  -empty++
                  span.icon-star-empty

            li.pb15.specs-item
              h5.inline-block.property Swap for:&nbsp;
              p.inline.value
                a(href="") Toy
                |,&#32;
                a(href="") Sweets
                |,&#32;
                a(href="") Kid shoes
                |,&#32;
                a(href="") Earrings
          if product.reason
            h4.pb10.pt30 Reason to swap:
            p.pb30 #{product.reason}

          .text-right.pt30
            -var buttonUrl = ''
            include ./includes/swap-buttons-set.jade
      if product.description
        .row.clear.pt30
          .col.col-xs4.col-sm12.col-md12
            h4.pb10 Description:
            p.pb30 #{product.description}

    .row
      .col.col-xs4.col-sm12.col-md9
        .paperStyle-container.mt10.mr10
          include ./includes/tab-pane.jade
          h5.pb10.pt30.mt10 More by&nbsp;
            a(href='/user/#{author.userId}') #{author.email}
            |:
          .row.row-with-blocks
            each p in author.products
              if p.productId !== product.productId
                .col-product-block.mb15
                  .thumbnail.bordered
                    a(href="/product/#{p.productId}")
                      //- img(src='/images/#{p.image1}', alt='')

      .col.col-xs4.col-sm12.col-md3
        .map.mt10.text-center.pt10
          !{product.images[0].thumbnail}
