extends layout

block content
  -var products = data
  -var buttonText = 'Details'

  .main-container.paperStyle-container
    .row
      h1.main-title My items list
    if products  
      .row.row-with-blocks-v2
        each product in products
          .product(data-product-id='#{product.id}')
            a.img-container(href='/product/#{product.id}')
              !{product.image}
            .content-container
              h4.product-title= product.name
              form(action="/account/destroy-item" method="post")
                input(type="hidden" name="productId" value="#{product.id}")
                button(type="submit") Remove
