extends ../../layout

block content
  .main-container.paperStyle-container
    -var json = JSON.stringify(user);
  
    h1.main-title Requests
    p.pb30 You have: #{requests.length} request(s)

    .tab-pane.js-tab-pane
      .tab.js-tab.is-active
        h4.font-size14 Incoming requests
      .tab.js-tab
        h4.font-size14 Sent requests
      .pane.js-pane.is-active 
        each request in requests
          if request.seller_id === user.id
            a.row.pb20(href="/account/requests/#{request.id}")
              .col.col-xs4.col-sm12.col-md4.clearfix
                each product in request.masterProducts
                  .left
                    !{product.thumbnail}
                div.left.p30
                  p ===>
                  p <===
                div.left.requestsOverview
                  each product in request.slaveProducts
                    .requestsOverview-slaveProducts
                      !{product.thumbnail}
                
              .col.col-xs4.col-sm12.col-md6
                p #{request.buyer.email}:
                p #{request.message}
                
              .col.col-xs4.col-sm12.col-md2
                p Inquiry
                p 22 May 2016
                //- p Status (Inquiry, Accepted, Pending, Declined)
      .pane.js-pane 
        each request in requests
          if request.buyer_id === user.id
            a.row.pb20(href="/account/requests/#{request.id}")
              .col.col-xs4.col-sm12.col-md4.clearfix
                each product in request.masterProducts
                  .left
                    !{product.thumbnail}
                div.left.p30
                  p ===>
                  p <===
                div.left.requestsOverview
                  each product in request.slaveProducts
                    .requestsOverview-slaveProducts
                      !{product.thumbnail}
                
              .col.col-xs4.col-sm12.col-md6
                p #{request.buyer.email}:
                p #{request.message}
                
              .col.col-xs4.col-sm12.col-md2
                p Inquiry
                p 22 May 2016
                //- p Status (Inquiry, Accepted, Pending, Declined)
