<!-- -var isIncomingRequest = recieverId === request.seller.id; -->

<div class="main-container">
  <div class="row pb20">
    <div class="col col-xs4 col-sm12 col-md8 pr30">
      <div class="pb25 mb20 js-messageForm">
        <form action="{{url}}/message" class="form text-right" method="POST">
          <textarea name="message" cols="30" rows="10" class="small light js-messageTextarea" placeholder="Leave a message for the owner"></textarea>
          <input type="submit" value="Send message" class="btn btn-secondary btn-small mt10 js-messageSubmit">
        </form>
      </div>

      {{#request.messages}}
        <div class="{{#if_eq user_id ../user.id}}ml30{{else}}mr30{{/if_eq}} paperStyle pl30 pr30 pt25 pb25 mb20">
          <p class="section-subtitle">
            {{#if_eq user_id ../request.buyer_id}}
              {{../request.buyer.email}}
            {{else}}
              {{../request.seller.email}}
            {{/if_eq}}
            {{reg_date}}:</p>
          <p>{{text}}</p>
        </div>
      {{/request.messages}}

      <div class="{{#if_eq user.id request.seller.id}}mr30{{else}}ml30{{/if_eq}} paperStyle pl30 pr30 pt25 pb25 mb20">
        <p class="section-subtitle">{{request.email}}:</p>
        <p>{{request.message}}</p>
      </div>
    </div>


    <div class="col col-xs4 col-sm12 col-md4 paperStyle p30">
    {{#request.masterProducts}}
      <div class="left">{{thumbnail}}</div>
    {{/request.masterProducts}}
      <div class="left p30">
        <p>===></p>
        <p><===</p>
      </div>
      <div class="left requestsOverview">
        {{#request.slaveProducts}}
          <div class="requestsOverview-slaveProducts">
            {{thumbnail}}
          </div>
        {{/request.slaveProducts}}
      </div>
    </div>


  </div>
</div>
