<div class="content-container paperStyle-container">
  <div class="row">
    <div class="col col-xs4 col-sm6 col-md8">
      <h2 class="section-title pb10">See what people offer</h2>
      {{#if tag}}
        <h4 class="pr20 section-subtitle inline is-active">{{tag}}</h4>
      {{else}}
        <h4 class="pr20 section-subtitle inline is-active">All</h4>
      {{/if}}
    </div>
    <div class="col col-xs4 col-sm6 col-md4">
      <form action="" class="right search">
        <input type="text" class="search-box">
        <button type="submit" class="search-btn icon-search"></button>
      </form>
    </div>
  </div>
  <div class="row row-with-blocks-v2">
    {{#items}}
      <div class="item" data-item-id="{{id}}">
        {{#with images.[0]}}
          <a href="/item/{{item_id}}" class="img-container">
            <img src="http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}" alt="">
          </a>
        {{/with}}
        <div class="item-content">
          <h4 class="item-title">{{name}}</h4>
          <p class="item-tag-title">
            <b>Seeks:&nbsp;
              {{#swapForTags}}
                <a href="/tag/{{name}}">#{{name}} </a>
              {{/swapForTags}}
            </b>
          </p>
        </div>
      </div>
    {{/items}}
  </div>
</div>
