{{#section 'scripts'}}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
  <script src="/javascripts/itemOverview.js"></script>
{{/section}}

<div class="row row--layoutWidth row--nowrap">
  {{#if item}}
    <div class="content-body paperStyle-container content-body--itemOverview js-content-body--itemOverview">
      <div class="row itemOverview">
        <div class="itemOverview-sliderColumn">
          {{!--<h3 class="title--itemOverview title--forInSwapState">{{item.name}}</h3>--}}
          {{#if itemImage}}
            {{> slider}}
          {{else}}
            <div class="slider">
              <div class="slide is-active">
                <span class="icon-picture"></span>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="itemOverview-detailsColumn">
          {{> itemOverview-details}}
        </div>
        <div class="itemOverview-swapButton clear">
          {{#if itemBelongsToCurrentUser}}
            <a href="/item/{{item.id}}/edit" class="btn btn--secondary">Edit</a>
          {{else}}

            {{#if_eq item.status 'for_sale'}}
              {{> swapButtonsSet}}
            {{/if_eq}}
          {{/if}}
        </div>
      </div>

      <div class="row itemOverview pb0">
        <div class="itemOverview-descriptionColumn pb30">
          {{#item.description}}
            <h4 class="pb10">Description:</h4>
            <p class="pb30">{{this}}</p>
          {{/item.description}}
          {{#item.reasonForSwap}}
            <h4 class="pb10">Reason for swap:</h4>
            <p class="pb30">{{this}}</p>
          {{/item.reasonForSwap}}
        </div>
        <div class="itemOverview-mapColumn">
          <div class="itemOverview-map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?size=400x400&maptype=roadmap&markers=color:red%7C{{user.city}},{{user.country}}&key=AIzaSyCvLphh5RdATb2mbpFCZ0k02_ZqFQZjukk')">
          </div>
        </div>
        <a href="/user/{{item.user_id}}/items-list" class="btn btn--small btn--dark itemOverview-moreItemsButton">More items from {{user.firstName}}</a>
      </div>
    </div>
    {{> swapForm}}
    {{else}}
    <div class="content-head paperStyle-container">
      <h3>Sorry, such item doesn't exist</h3>
    </div>
  {{/if}}
</div>
