{{#section 'scripts'}}
  <script src="/javascripts/lib/require.js" data-main="/javascripts/editItemForm" async></script>
{{/section}}

<div class="content-body">
  <div class="row">
    <div class="col col-xs4 col-sm12 col-md8 col--mdPush2 paperStyle-container">
      <h2 class="section-title text-center mb20 js-item-added is-hidden">New item added!</h2>
      <h2 class="section-title text-center mb20 js-item-edited is-hidden">Item successfully edited!</h2>
    {{#if newItem}}
      <h1 class="main-title">Add new item</h1>
      <form data-ajax-submit="true" action="/item/create" enctype="multipart/form-data" method="post" class="js-editItemForm form js-form" id="editItemForm">
    {{else}}
      <h1 class="main-title">Edit item</h1>
      <form data-ajax-submit="true" action="/item/{{item.id}}/edit" enctype="multipart/form-data" method="post" class="js-editItemForm form js-form" id="editItemForm">
    {{/if}}

        <input type="hidden" name="newItem" value="{{newItem}}">
        <input type="hidden" name="userId" value="{{userId}}">
      {{#if newItem}}
        <input type="text" name="name" placeholder="Name">
        <p class="tooltip">
          Note: emails, phones and url's are forbidden.
        </p>
      {{else}}
        <input type="hidden" name="itemId" value="{{item.id}}">
        <input type="text" name="name" placeholder="Name" value="{{item.name}}">
      {{/if}}
        <input type="text" name="tags" placeholder="Tags, keywords">
        <input type="text" name="swapForTags" placeholder="Swap for? Some tags/keywords here...">
        <p class="mb20">
          <label for="">Condition&#32;</label>
          <input type="radio" name="itemCondition" value="1">
          &nbsp;1&nbsp;
          <input type="radio" name="itemCondition" value="2">
          &nbsp;2&nbsp;
          <input type="radio" name="itemCondition" value="3">
          &nbsp;3&nbsp;
          <input type="radio" name="itemCondition" value="4">
          &nbsp;4&nbsp;
          <input type="radio" name="itemCondition" value="5">
          &nbsp;5&nbsp;
        </p>

        <p class="mb20">
          <label for="">Image&#32;</label>
          <input type="file" name="upload" accept="image/*" multiple="multiple">
        </p>

        {{#if newItem}}
          <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
          <ul class="tooltip">
            <li>Add description and important details</li>
            <li>Shouldn't contain your contact information.</li>
            <li>Description should match title of the item.</li>
          </ul>
          <textarea class="small" name="reasonForSwap" id="" cols="30" rows="5" placeholder="Reason for swap"></textarea>
          <ul class="tooltip">
            <li>If you wish you can add a reason why you want to swap the item.</li>
          </ul>
        {{else}}
          <textarea name="description" id="" cols="30" rows="10" placeholder="Description" value="{{item.description}}">
            {{item.description}}
          </textarea>
        {{/if}}
        <p class="text-center mt20">
          <input type="submit" value="Save changes" class="btn btn--turqoise">
        </p>
      </form>

    </div>
  </div>
</div>
