{{#section 'scripts'}}
  <script src="/javascripts/swapRequestOverview.js" async></script>
{{/section}}

{{> swapRequestOverviewHead}}

<div class="content-body {{request.status}}">
  <div class="row pb20">
    <div class="col-xs4 col-md6 paperStyle-container swapRequestOverview">
      <div class="swapRequestOverview-head">
        <div class="statusLabel statusLabel--{{request.status}}">
          <p>{{#if_eq request.status 'pending'}}
              Inquiry
            {{else}}
              {{request.status}}
            {{/if_eq}}</p>
        </div>
        {{#if currentUserIsBuyer}}
          <p class="mb10">You request:</p>
        {{else}}
          <p class="mb10">{{request.buyer.firstName}} requests:</p>
        {{/if}}
        {{#request.masterItems}}
          {{#if images}}
            {{#with images.[0]}}
            <div class="swapRequestOverview-imageContainer swapRequestOverview-imageContainer--master">
              <div class="swapRequestOverview-image" style="background-image: url('http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}')"></div>
            </div>
            {{/with}}
          {{else}}
            <div class="swapRequestOverview-imageContainer swapRequestOverview-imageContainer--master">
              <span class="icon-picture"></span>
            </div>
          {{/if}}
            <h4 class="swapRequestOverview-title">
              <a href="/item/{{this.id}}">{{this.name}}</a>
            </h4>
        {{/request.masterItems}}
      </div>

      {{#if currentUserIsBuyer}}
        <p class="mt20 mb10">You offer:</p>
      {{else}}
        <p class="mt20 mb10">{{request.buyer.firstName}} offers:</p>
      {{/if}}
      <div class="swapRequestOverview-body">
        {{#request.slaveItems}}
        {{#if_eq this.status 'for_sale'}}
          <div class="swapRequestOverview-item">
          {{#if images}}
            {{#with images.[0]}}
              <div class="swapRequestOverview-imageContainer">
                <div class="swapRequestOverview-image" style="background-image: url('http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}')"></div>
              </div>
            {{/with}}
          {{else}}
            <div class="swapRequestOverview-imageContainer">
              <span class="icon-picture"></span>
            </div>
          {{/if}}
            <div class="swapRequestOverview-itemDetails">
              <h4 class="swapRequestOverview-title">
                <a href="/item/{{this.id}}">{{this.name}}</a>
              </h4>
              <ul class="no-bullet pt5">
                <li class="pt5 pb0 keyValue-item">
                  <h5 class="inline-block key">Location:&nbsp;</h5>
                  <p class="inline value">{{../request.buyer.city}}, {{../request.buyer.country}}</p>
                </li>
                <li class="pt5 pb0 keyValue-item">
                  <h5 class="inline-block key">Condition:&nbsp;</h5>
                  <p class="inline value condition-stars condition-{{this.condition}}">
                    <span class="icon-condition"></span>
                    <span class="icon-condition"></span>
                    <span class="icon-condition"></span>
                    <span class="icon-condition"></span>
                    <span class="icon-condition"></span>
                  </p>
                </li>
              </ul>
            </div>
            <input type="checkbox" name="" value="" class="is-hidden swapRequestOverview-itemDescription-checkbox" id="details-{{this.id}}">
            <label for="details-{{this.id}}" class="swapRequestOverview-itemDescription-trigger icon-right-open-big"></label>
            <div class="swapRequestOverview-itemDescription">
              <h4>Description</h4>
              <p>{{this.description}}</p>
            </div>
          </div>
          {{/if_eq}}
        {{/request.slaveItems}}
      </div>
    </div>

    <div class="col col-xs4 col-sm12 col-md6 pl30">
      {{#if_eq request.status 'declined'}}
      {{else}}
        <div class="pb25 mb20">
          <form id="messageForm" data-action="{{url}}/message" class="form text-right">
            <textarea id="messageTextarea" name="message" cols="30" rows="10" class="small light" placeholder="Leave a message"></textarea>
            <input id="messageSubmit" type="submit" value="Send message" class="btn btn--secondary btn--small mt10">
          </form>
        </div>
      {{/if_eq}}

      <div id="messages">
        {{#each messages}}
          <div class="{{#if_eq user_id ../user.id}}ml30{{else}}mr30{{/if_eq}} paperStyle pl30 pr30 pt25 pb25 mb20">
            <p class="section-subtitle">
              {{#if_eq user_id ../request.seller_id}}
                {{#if_eq ../user.id user_id}}
                  Me:
                {{else}}
                {{../request.seller.firstName}}
                {{/if_eq}}
              {{else}}
                {{#if_eq ../user.id user_id}}
                  Me:
                {{else}}
                  {{../request.buyer.firstName}}:
                {{/if_eq}}
              {{/if_eq}}
              </p>
            <p>{{text}}</p>
          </div>
        {{/each}}

        <div class="{{#if currentUserIsBuyer}}ml30{{else}}mr30{{/if}} paperStyle pl30 pr30 pt25 pb25 mb20">
          <p class="section-subtitle">{{request.buyer.firstName}}:</p>
          <p>{{request.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
