{{#section 'scripts'}}
  <script src="/javascripts/userProfile.js" async></script>
{{/section}}

{{#if user}}
{{^itemsOnly}}
<div class="content-body paperStyle-container userProfile mb30">
  <div class="row">
    <div class="col-xs4 col-sm6 text-right col-sm-last">
      <!-- <button class="btn btn--link btn--report pr0 is-hidden">Report {{user.firstName}}</button> -->
      {{#isCurrentUserProfile}}
        <a href="/user/profile/edit" title="Edit profile" class="btn btn--small btn--dark">Edit profile</a>
      {{/isCurrentUserProfile}}
    </div>
    <div class="col-xs4 col-sm6">
      <h3 class="title--itemOverview">{{user.firstName}} {{user.lastName}}</h3>
      <ul class="no-bullet pt15 pb30 pr30">
        {{#isCurrentUserProfile}}
          <li class="pb15 keyValue-item">
            <h5 class="inline-block key">Email:&nbsp;</h5>
            <p class="inline value">{{user.email}}</p>
          </li>
          <li class="pb15 keyValue-item">
            <h5 class="inline-block key">Phone:&nbsp;</h5>
            <p class="inline value">
              {{#if user.phone}}
                {{user.phone}}
              {{else}}
                not set
              {{/if}}
            </p>
          </li>
        {{/isCurrentUserProfile}}
        <li class="pt15 pb15 keyValue-item">
          <h5 class="inline-block key">Location:&nbsp;</h5>
          <p class="inline value">
            {{#if user.street}}
              {{user.street}},&nbsp;
            {{/if}}
            {{#if user.streetNumber}}
              {{user.streetNumber}},&nbsp;
            {{/if}}
            {{#if user.city}}
              {{user.city}},&nbsp;
            {{/if}}
            {{#if user.postcode}}
              {{user.postcode}},&nbsp;
            {{/if}}
            {{#if user.state}}
              {{user.state}},&nbsp;
            {{/if}}
            {{#if user.country}}
              {{user.country}}&nbsp;
            {{/if}}
           </p>
        </li>

        <li class="pb15 keyValue-item">
          <h5 class="inline-block key">Response rate:&nbsp;</h5>
          <p class="inline value">
            <p class="inline value">100%</p>
          </p>
        </li>
      </ul>
      {{#isCurrentUserProfile}}
        <a href="/account/signout" title="sign out" class="btn btn--secondary mt10">Sign out</a>
      {{/isCurrentUserProfile}}
      <button type="button" name="write" class="btn btn--fixedWidth is-hidden">Write to {{user.firstName}}</button>
    </div>
  </div>
</div>
{{/itemsOnly}}
<div class="content-body userProfile {{^itemsOnly}}mt0{{/itemsOnly}} pt10">
  {{#if items}}
    <div class="row">
      <div class="col-xs4 col-sm12">
        <h3 class="title--itemOverview">{{user.firstName}}'s items</h3>
      </div>
    </div>
  {{/if}}

  {{> itemList}}
  </div>
</div>

{{else}}
  <div class="content-head paperStyle-container">
    <h3>Sorry, such user doesn't exist</h3>
  </div>
{{/if}}
