
<div class="main-container paperStyle-container">
  <h1 class="main-title">Requests</h1>
  <!-- <p class="pb30">You have: {{requests.length}} request[s]</p> -->

  <div class="tab-pane js-tab-pane">
    <div class="tab js-tab is-active">
      <h4 class="font-size14">Incoming requests</h4>
    </div>
    <div class="tab js-tab">
      <h4 class="font-size14">Sent requests</h4>
    </div>

    <div class="pane js-pane is-active">

    {{#requests}}
      {{#if_eq seller_id ../user.id}}
      Hello
      <a href="/requests/{{id}}" class="row pb20">
        <div class="col col-xs4 col-sm12 col-md4 clearfix">
        {{#masterItems}}
          <div class="left">
            {{thumbnail}}
          </div>
        {{/masterItems}}
          <div class="left p30">
            <p>===></p>
            <p><===</p>
          </div>
          <div class="left requestsOverview">
            {{#slaveItems}}
              <div class="requestsOverview-slaveItems">
                {{thumbnail}}
              </div>
            {{/slaveItems}}
          </div>
      </div>


        <div class="col col-xs4 col-sm12 col-md6">
          <p>{{buyer.email}}:</p>
          <p>{{message}}</p>
        </div>


        <div class="col col-xs4 col-sm12 col-md2">
          <p>Inquiry</p>
          <p>22 May 2016</p>
          //- p Status (Inquiry, Accepted, Pending, Declined)
        </div>
      </a>
      {{/if_eq}}
    {{/requests}}
    </div>

    <div class="pane js-pane">
    {{#requests}}
      {{buyer_id}}
      {{../user.id}}
        <!-- if request.buyer_id === user.id -->
      {{#if_eq buyer_id ../user.id}}
        <a href="/requests/{{id}}" class="row pb20">
          <div class="col col-xs4 col-sm12 col-md4 clearfix">
          {{#masterItems}}
            <div class="left">{{thumbnail}}</div>
          {{/masterItems}}
            <div class="left p30">
              <p>===></p>
              <p><===</p>
            </div>

            <div class="left requestsOverview">
              {{#slaveItems}}
                <div class="requestsOverview-slaveItems">
                  {{thumbnail}}
                </div>
              {{/slaveItems}}
            </div>
          </div>


          <div class="col col-xs4 col-sm12 col-md6">
            <p>{{buyer.email}}:</p>
            <p>{{message}}</p>
          </div>


          <div class="col col-xs4 col-sm12 col-md2">
            <p>Inquiry</p>
            <p>22 May 2016</p>
            //- p Status (Inquiry, Accepted, Pending, Declined)
          </div>
        </a>
      {{/if_eq}}
    {{/requests}}
    </div>
  </div>

</div>
