{{#this.items}}
  <div class="item" data-item-id="{{id}}">
    {{#if images}}
      {{#with images.[0]}}
        <a href="/item/{{../id}}" class="img-container">
          <img src="http://res.cloudinary.com/di42acdz9/image/upload/{{this.id}}" alt="">
        </a>
        {{/with}}
    {{else}}
      <a href="/item/{{id}}" class="img-container">
        <span class="icon-picture"></span>
      </a>
    {{/if}}
    {{#if ../isCurrentUserProfile}}
      <form action="/item/{{id}}/destroy" method="post" class="item-actions js-destroy-form" data-ajax-submit>
        <button type="submit" class="item-remove icon-cancel js-destroy-btn" title="Remove item">Remove</button><br>
        {{#unless_eq status "accepted"}}
          <a href="/item/{{id}}/edit" class="item-edit icon-pencil mt10" title="Edit item">Edit</a>
        {{/unless_eq}}
      </form>
    {{/if}}
    <div class="item-content">
      <div class="item-content-head">
        {{status}}
        {{user_id}}
        <h4 class="item-title">{{name}}</h4>
        <p>{{description}}</p>
      </div>
      <p class="item-tag-title pt15">
        <b>Tags:&nbsp;
          {{#tags}}
            <a href="{{tagUrl ../../url}}tag={{name}}">#{{name}} </a>
          {{/tags}}
        </b>
      </p>
      <p class="item-tag-title">
        <b>Swap for:&nbsp;
          {{#swapForTags}}
            <a href="{{tagUrl ../../url}}tag={{name}}">#{{name}} </a>
          {{/swapForTags}}
        </b>
      </p>
    </div>
  </div>
{{/this.items}}
